.cream {
  background: rgb(249, 249, 249);
  background: linear-gradient(
    180deg,
    rgba(249, 249, 249, 1) 0%,
    rgba(235, 235, 235, 1) 40%,
    rgba(235, 235, 235, 1) 100%
  );
  flex-direction: column;
  flex-wrap: wrap;
  padding: var(--paddingMain);
}

.cream-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 2em 0;
  align-items: start;
  overflow: hidden;
  justify-items: end;
  gap: 1.5em;
}

.cream-card-container li {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-grow: 1;
  position: relative;
}

.cream-cardimg {
  min-height: 200px;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 10px;
  display: flex;
  background-color: #1d2321;
}

.cream-card-content {
  width: 100%;
  display: grid;
  margin-top: 4vh;
}

.cream-card-content h3 {
  padding: 0;
  margin: 0;
  line-height: 1.4;
}

.cream-card-container .cream-btn {
  font-size: 12px;
  background-color: #434d48ec !important;
  margin-top: 10px;
  transition: var(--animationSmooth);
}

.ash {
  background-color: #d0c7be !important;
  color: black !important;
}

.common-btn-style:hover {
  background-color: #1d2321 !important;
}

@media (max-width: 580px) {
  .cream {
    padding: 4vh 20px;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
  }

  .job-title {
    font-size: 13px;
  }
  .cream h2 {
    text-align: left;
  }
  .cream-card-container {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-top: 4vh;
    width: 100%;
    gap: 1vh;
    overflow: hidden;
  }

  .cream-cardimg {
    height: 100%;
    width: 100%;
    min-width: 100%;
    background-color: var(--greycolor);
    object-fit: cover;
    border-radius: 10px;
  }

  .cream-cardimg,
  .-tobooks {
    min-height: 340px;
    width: 100%;
    max-width: 100vh;
    min-width: none;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    border-radius: 10px;
  }

  .cream-card-container li,
  .-tobooks {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
    border-top: var(--border-line);
  }
}
