.exhibitions-section {
  min-height: 100vh;
  padding: 7em 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.exhibition-nav {
  width: 100%;
}

.project-category-section {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 10px;
  padding: 70px 10px;
}
.cfg {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.ser-form {
  text-align: left;
  border: none;
  min-height: 100%;
  width: 100%;
  border-radius: 0.6em;
  overflow: hidden;
  color: #f5f5f5;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between; /* Align items evenly along the vertical axis */
  /* Stretch items to fill the container's height */
  transition: all 100ms ease-out;
  padding: 1em 0.8em;
  background-color: inherit;
}
.ser-form input {
  background-color: transparent;
  box-shadow: none;
  width: 100%;
  padding: 1em 0 2em 0;
  border: none;
  background: transparent;

  font-weight: 450;
  font-size: 1em;
  display: block;
  margin-top: -0.33em;
}
.profile-picture {
  position: relative;
  display: inline-flex;
  margin-top: 4vh;
  border-radius: 50%;
  background: url(../img/projectimg.jpg) center center no-repeat;
  background-size: cover;
  width: clamp(4.5em, 6.5vw, 8em);
  height: clamp(4.5em, 6.5vw, 8em);
  border: 1px solid #ffffff66;
  background-color: #f5f5f5;
}
.ser-form .label {
  width: 100%;
  display: block;
  margin-bottom: 0;
  font-weight: 450;
  padding-top: 1.66em;
  transition: all 0.2s ease-in-out;
}

.form-group,
.messagearea {
  display: block;
  width: 100%;
  font-size: 1.33em;
  border-bottom: 1px solid #ffffff66;
  padding: 0.1em 2.75em;
}

.messagearea {
  border-bottom: 1px dashed #ffffff66;
}
/* contact */
.contact-press-page {
  min-height: 100vh;
  padding: 4em 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color:var(--color1);
  color: #f5f5f5;
}
.flex-compass {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border-bottom: 1px dotted #ccc;
}
.header-c1 {
  display: flex;
  width: 100%;
  max-width: 30px;
}
/* contact2 */
.ContactPage {
  background-color:var(--color1);
  color: #f5f5f5;
  min-height: 100vh;
  display: grid;
  padding: 2em;
}

.dash {
  margin-right: 7px;
}
.devices-grid1 {
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.devices-grid {
  margin-top: 1em;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--greycolor2);
}

.dev-img-container {
  justify-content: center;
}

.device {
  max-height: 400px;
  border-radius: 2em;
  cursor: pointer;
  object-fit: cover;
}
form .submit-button {
  margin-top: 3vh;
}
.submit-button {
  justify-content: center;
  gap: 1em;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #424242;
  color: white;
  transition: var(--animationSmooth);
  padding: 0.7em 1em;
  border-radius: 3em;
}

.submit-button:hover {
  gap: 3em;
  background-color: rgba(144, 238, 144, 0.195);
  color: lightgreen;
}
textarea {
  min-height: 60px;
  max-height: 80px;
  max-width: 100%;
  background-color: transparent;
  min-width: 100%;
  max-width: 500px;
}

.Team-error-page {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-member-page-inner {
  width: 90%;
  min-height: 70vh;
  margin-top: 4em;
}
.team-member-imagecon {
  align-items: flex-start;
  justify-content: space-between;
  gap: 3px;
}
.team-member-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  color: white;
}
.tmdes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  justify-content: center;
}
.chairSection {
  min-height: 70vh;
  background-color: #f9f9f9;
  justify-content: center;
  position: relative;
}

.tmpi {
  margin-top: 2em;
}
.qual-inner {
  position: absolute;
  background-color: var(--color1);
  text-align: left;
  border: 0.1px solid #333;
  border-radius: 0.6em;
  overflow: hidden;
  display: flex;
  height: 550px;
  max-width: 400px;
  flex-direction: column;
  justify-content: space-between;
  transition: all 100ms ease-out;
  padding: 2em;
  z-index: 10;
  right: 0;
}
.qual-inner p {
  color: rgb(226, 226, 226);
}

.qual-inner li {
  border-top: var(--border-line);
  display: grid;
  gap: 0.5em;
  padding: 1em 0;
}
.qs-header {
  justify-content: space-between;
  margin: 1em;
}
.qualification-section {
  position: relative;
}
/* *{
  border: 1px solid red;
} */
.colsvg {
  padding: 1em;
  transform: rotate(0);
  cursor: pointer;
}
.colsvg:hover {
  opacity: 0.8;
}

.to-blackSection {
  background-color: var(--color1);
  color: white;
  padding: 4em;
  display: none;
}
@media only screen and (max-width: 850px) {
  .ser-form {
    padding: 0;
  }
  .contact-press-page{
    padding:4vh 15px;
  }
  .About-section {
    min-height: fit-content;
    padding: 4em 1em;
    max-width: auto;
    width: 100%;
  }
  .profile-picture {
    margin-top: 0;
  }
  .devices-grid1 {
    padding: 1em;

  }
  .devices-grid {
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr;
  }
  .row {
    grid-template-columns: 1fr 1fr;
  }

  .exhibitions-section {
    padding: 4em 1em;
  }
  .Exhibition-nav {
    display: block;
    padding: 0;
  }
  .project-category-section {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  .Exhibition-nav-main {
    justify-content: flex-start;
  }
  .grid-item {
    padding: 0;
  }
  .grid-item-tag {
    padding: 2px 15px;
    font-size: 13px;
    color: black;
  }
}
.phb {
  box-shadow: var(--box-shadow);
}
@media only screen and (max-width: 850px) {
  .laptop {
    height: 100%;
    border-radius: 2em;
    cursor: pointer;
    object-fit: cover;
  }
  .cfg {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 450px) {
  .row {
    grid-template-columns: 1fr;
  }
  .grid-item-tag {
    padding: 2px 15px;
    font-size: 13px;
    color: black;
  }
}
