.main-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  z-index: 97;
  background-color: rgba(0, 0, 0, 0.329);
  transition: transform 300ms ease-in-out, opacity 200ms ease-in-out;
  pointer-events: none;
  will-change: opacity, transform;
}
#sideBar .main-sidebar {
  transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.main-sidebar.open {
  transform: translateX(0);
  opacity: 1;
  pointer-events: all;
  transition: transform 300ms ease-in-out, opacity 200ms ease-in-out;
}

.inner-main-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 37%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(208, 208, 208);
  transition: all 300ms ease-in-out;
  overflow: hidden;
  z-index: 99;
  box-shadow: 10px 0 15px rgba(0, 0, 0, 0.2);

  border-left: 1px solid #303030;
  background-color: var(--color1);
  border-right: 1px solid #202020;
}

.menu-circles {
  position: absolute;
  top: 0;
  right: 0;
}

.close-btn-circle-sidebar {
  min-height: 50px;
  min-width: 50px;
  border-radius: 50%;
  border: none;
  box-shadow: var(--box-shadow-light);
  position: absolute;
  will-change: transform;
  justify-content: center;
  display: flex;
  align-items: center;
  transition: all 200ms ease-in-out;
  right: 10%;
  top: 25px;
  z-index: 98;
  cursor: pointer;
  backdrop-filter: blur(0.1em);
  background-color: #2a2a2a;
  justify-content: center;
}

.close-btn-circle-sidebar:hover {
  transform: scale(1.1);
}

.sidebar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  justify-content: flex-start;
  margin: 3px 0;
  cursor: pointer;
  transition: var(--animationSmooth);
  transform: translateX(0);
}

.sidebar-link.active {
  color: white;
}

.main-sidebar a:hover {
  color: white;
  transform: translateX(10px);
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 100ms ease;
  margin-left: 20px;
}

.dot.active {
  background-color: var(--color3);
}

.navigation-sidelink {
  width: 100%;
  color: #bdbdbd;
  padding-bottom: 5px;
}

.fixed-nav-inner2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  transform: translate(0px, 0px) rotate(0.001deg);
  will-change: transform;
  padding: 15vh 7.5vw 10vh;
  transition: 0.6s cubic-bezier(0.7, 0, 0.2, 1);
}
.nav-row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.fixed-nav-inner2 .nav-row h5 {
  margin-bottom: 1em;
}
.theme-dark .stripe {
  background-color: rgba(255, 255, 255, 0.2);
}
.stripe {
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}
.fixed-nav-inner2 .nav-row ul {
  margin-left: calc(var(--gap-padding) / -2);
}

.fixed-nav-inner2 .social-row {
  margin-left: calc(clamp(1.5em, 4vw, 2.5em) / -4);
}

.fixed-nav-inner2 .nav-row ul {
  padding-top: 5vh;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  gap: 1vh;
}
.fixed-nav-inner2 .nav-row ul li {
  height: auto;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0;
}

.socials-list {
  display: flex;
  flex-direction: row !important;
  width: 100%;

  justify-content: space-between;
}
.socials-list li {
  font-size: 12px;
  padding: 0 10px !important;
}
.transition {
  transition: all 200ms ease;
}
@media only screen and (max-width: 650px) {
  .inner-main-sidebar {
    width: 100%;
    border: none;
  }

  .inner-main-sidebar ul {
    padding-top: 2em;
  }

  .inner-main-sidebar ul h3 {
    font-size: 2.5em;
  }
}
