
/* src/components/Footer.css */
.Homefooter {
  position: relative;
  padding: clamp(1em, 5vh, 5em);
  background-color: #141517;
  color: #dedede;
  list-style: none;
  text-align: left;
  min-height: fit-content;
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}



.f-header,
.flex-btn-reg-f,
.f-header div {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 10px;
  flex-wrap: wrap; /* Ensure items wrap on smaller screens */
}



.flex-btn-reg{
  gap: 1em;
}
.flex-btn-reg-f {
  gap: 10px;
  padding: 10px 0;
}

.Homefooter p{
  color: white;
}
.footer-col h1 {
  margin-bottom: 2em;
}

.fsb{
  max-height: 45px;
  margin-top: 1em;
  text-align: left;
}



.newsletter-div button {
  padding: 15px 20px;
  border: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #a1a1a1;
  margin-top: 10px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  margin-top: 10px;
  gap: 20px;
  justify-content: space-evenly;
  align-items: baseline;
}



.footer-col {
  padding: 10px;
}

.f-title {
  padding-top: 1em;
  padding-left: 10px;
  text-align: left;
}

.aligned-paragraphs {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.aligned-paragraphs p,
.aligned-paragraphs li {
  width: 100%;
  margin: 0;
}

.aligned-paragraphs li {
  padding: 13px 0;
  color: #ccc;
  border-top: 1px solid rgb(55, 55, 55);
}

.back-to-top {
  position: absolute;
  top: 40px;
  right: 10px;
  z-index: 8;
}

.back-to-top button {
  display: flex;
  align-items: center;
  will-change: opacity;
  justify-content: space-around;
  transition: opacity 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.back-to-top-button:hover {
  opacity: 0.7;
}
.btn-reg {
  display: flex;
  font-size: 10px;
  min-width: 200px;
  cursor: pointer;
  color: #fff;
  min-height: 40px;
  border: none;
  text-transform: uppercase;
  outline: none;
  background-color: rgba(0, 0, 0, 0.822);
  transition:var(--animationSmooth);
}
.body-section {
  position: relative;
}

.footer-strip {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  padding: 13px 0;
  border-top: 0.1px solid rgb(59, 59, 59); 
}

.footer-strip li {
  font-size: 13px;
}
.flex-btn-reg-footer{
  display: flex;
}
.fhs{
  line-height: 1.6;
}
.error {
  color: red;
}
@media only screen and (max-width: 850px) {
  .Homefooter{
    padding: 2em 1em;
  }
  .f-grid{
    display: grid;
    width: 100%;
  
  }
  .f-title {
    border: none;
  }
  .footer-container {
    grid-template-columns: 1fr; /* Stack columns vertically on smaller screens */
  }
  .footer--text h1{
    font-size: 22px;
    margin-top: 1em;
  }
 

  .footer-col {
    padding: 20px 10px;
    border-top:1px solid  #373737;
 
  }

  .newsletter-div input,
  .newsletter-div button {
    max-width: 100%;
    width: 100%;
    margin: 5px 0; /* Margin adjustment for stacking */
  }

  .newsletter-div{
    max-width: 100%;
  }
  .footer-strip{
    display: none;
  }

}
