
.flexlinks{
    gap: 1em;
    padding: 10px 0;
    height: 100%;
}

.m20{
    padding-top: 3em;
    height: 100%;
    display: flex;
    gap: 4vh;
    flex-direction: column;
}
@media only screen and (max-width: 850px) {
    .flexlinks{
      flex-direction: column;
    }
}