.threeD-houses-section {
  padding: 5vh 0;
  position: relative;
  overflow: hidden;
  margin-bottom: 4vh;
}

main,
.doublegrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main-card {
  position: absolute;
  top: 0;
  left: 0;
}

.main-grid-2 {
  padding: 50px;
  box-shadow: var(--box-shadow);
  background-color: #fff;
}
.body-link {
  padding: 0.5em 0;
}
.body-link .grey-text {
  cursor: pointer;
  transition: var(--animationSmooth);
}
.body-link .grey-text:hover {
  color: black;
  text-decoration: underline;
}

.grey-text {
  color: var(--greycolor);
  margin-right: 5px;
}

.housebg {
  object-fit: cover;
  width: 100%;
}
.threeD-houses-section {
  padding: 5vh 0;
  position: relative;
  overflow: hidden;
  margin-bottom: 4vh;
}

.housebg {
  object-fit: cover;
  width: 100%;
}

.blackNav-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
}
.bn-inner {
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
  border-radius: 100rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  display: flex;
  position: relative;
}

.BLACKNAV {
  gap: 10px;
  width: 100%;
  font-size: 12px;
  text-transform: capitalize;
}

.BLACKNAV li {
  padding: 0 10px;
  font-size: 10px;
  background-color: var(--color1);
}

.bnLocation {
  cursor: pointer;
  gap: 10px;
  color: #000;
  letter-spacing: -0.004em;
  border-radius: 100rem;
  justify-content: center;
  width: 10.5em;
  flex-wrap: nowrap;
  height: 3.375rem;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
  border: 1px solid rgba(0, 0, 0, 0.606);
  transition: background-color 0.2s;
  display: flex;
}
.fancy-text {
  text-align: center;
  margin-bottom: 4vh;
}

@media only screen and (max-width: 850px) {
  main,
  .doublegrid {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 850px) {
  main,
  .doublegrid {
    grid-template-columns: 1fr;
  }
}
